<div id="Footer">
    Witryna stworzona przez: <a href="https://github.com/mateus-po">mateus-po<br>
        <a target="_blank" href="https://icons8.com/icon/132/search">Search</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </a>
    <br>
    <a target="_blank" href="https://icons8.com/icon/9199/cat-footprint">Cat Footprint</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</div>