<img src="/img/gatopedia-logo.png" alt="logo" id="LogoImg">
<div id="Header">
    <a href="/" style="color: black; text-decoration: none;">
    <div id="Logo">
        <h1>Gatopedia</h1>
        <h4>Wszystko o kotkach</h4>
    </div>
    </a>
    <div id="Searchbar">
        <input type="text" placeholder="Wyszukaj">
        <img src="/img/icon-search.png" alt="Search icon">

    </div>
    <div id="Auth">
        <a href="/auth/login">Zaloguj się</a>
        <a href="/auth/signup">Załóż konto</a>
    </div>
</div>