<img src="/img/gatopedia-logo.png" alt="logo" id="LogoImg">
<div id="Header">
    <a href="/" style="color: black; text-decoration: none;">
    <div id="Logo">
        <h1>Gatopedia</h1>
        <h4>Everything about cats</h4>
    </div>
    </a>
    <div id="Searchbar">
        <input type="search" placeholder="Search" autocomplete="off">
        <img src="/img/icon-search.png" alt="Search icon">

    </div>
    <div id="Auth">
        <% if(loggedUser) { %>
            Welcome, <a href="/users/profile/<%= loggedUser.nickname %>"><%= loggedUser.nickname %></a>!
            <a class="auth-option" href="/auth/logout">Log out</a>
        <% } else { %>
            <a class="auth-option" href="/auth/login">Log in</a>
            <a class="auth-option" href="/auth/signup">Sign up</a>
        <% } %>
    </div>
</div>