<div id="Left">
    <a href="/"><div class="nav-option">Main Page</div></a>
    <a href="/"><div class="nav-option">About page author</div></a>
    <a href="/users"><div class="nav-option">Users</div></a>
    <a href="/"><div class="nav-option">Most popular</div></a>
    <a href="/"><div class="nav-option">Random article</div></a>
</div>