<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/404.css">
    <title>Error 500</title>
    <link rel="icon" type="image/x-icon" href="/img/icon-paw.png">
</head>
<body>

    <div id="Container">
        <h1>Error 500:</h1>
        <h2>Internal server error</h2>
        <a href="/">Go back to the main page</a>
    </div>


    <img src="/img/404-cat.png" alt="">
</body>
</html>