<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/auth-layout.css">
    <title>Zaloguj się do Gatopedii</title>
    <link rel="icon" type="image/x-icon" href="/img/icon-paw.png">
</head>
<body>

    <img src="/img/gatopedia-logo.png" alt="logo" id="LogoImg">

<div id="Container">
    <h1>Logowanie</h1>
    <form action="POST">
        <label for="email">Adres e-mail:</label><br>
        <input type="text" name="email"><br>
        <label for="passwd">Hasło:</label><br>
        <input type="text" name="passwd"><br>
        <button>Zaloguj</button>
    </form>
    <a href="/">Przypomnij hasło</a>
    <img src="/img/icon-paw.png" alt="cat paw">
    <a href="/auth/signup">Załóż konto</a>
</div>

<div id="Back">
    <a href="/">
        Powrót na stronę główną
    </a>
</div>


<div id="Footer">
    Witryna stworzona przez: <a href="https://github.com/mateus-po">mateus-po<br>
        <a target="_blank" href="https://icons8.com/icon/9199/cat-footprint">Cat Footprint</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</div>

</body>

</html>