<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/article-layout.css">
    <link rel="stylesheet" href="/styles/article-edit-layout.css">
    <title>Gatopedia</title>
    <link rel="icon" type="image/x-icon" href="/img/icon-paw.png">
</head>
<body>


    <%- include('../partials/header.ejs') %>

    <div id="Container">

        <%- include('../partials/side-menu.ejs') %>

        <div id="Middle">


            <h4>Article name:</h4>
            <div id="ArticleNameErrorBox"></div>
            <input type="text" name="article-name" id="ArticleNameInput"> 
            <button id="ValidateTitle">Check if valid</button>
            <h4>Article Body:</h4>
            <div id="editorjs"></div>

            <button id="save-button">Save</button>
            <pre id="output"></pre>

            
        </div>
        <div id="Right">

        </div>

    </div>

<%- include('../partials/footer.ejs') %>

    <!-- Those script tags load necessary Editor.js modules -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@2.2.2/dist/table.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@2.7.0/dist/bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>

    <script src="/scripts/articleEditors.js" defer></script>
    <script src="/scripts/articleSave.js" defer></script>



</body>
</html>