body {
    min-height: 100vh;
    position: relative;
}
#Footer {
    position: absolute;
    bottom: 0;
    padding: 5px;
}
#Logo {
    text-align: left;
    padding-left: 160px;
    padding-bottom: 30px;
    padding-top: 20px;
}
#LogoImg {
    height: 350px;
    z-index: -1;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

#Header {
    min-height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: right;
}
#Container {
    display: flex;
    min-height: 200px;
    align-self: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
#Left, #Middle, #Right {
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 5px;
    min-height: 100px;
    padding: 15px;
    height: fit-content;
}
#Left {
    width: calc(20% - 40px);
}
#Middle {
    width: calc(60% - 40px);
}
#Right {
    width: calc(20% - 40px);
}
#Searchbar {
    display: flex;
    justify-content: space-evenly;
}
#Searchbar > input {
    font-size: 16px;
    padding: 3px;
    margin: 3px;
    width: 300px;
}
#Searchbar >  img {
    height: 25px;
    margin-top: 4px;
    padding: 1px;
}
#Searchbar >  img:hover {
    cursor: pointer;
}

#Auth > .auth-option {
    display: inline-block;
    margin: 3px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}
#Auth > a {
    color: black;
    text-decoration: none;
}
#Left > a {
    color: black;
    text-decoration: none;
}
.nav-option {
    padding: 5px;
    width: calc(100% - 10px);
    border-radius: 5px;
}
.nav-option:hover {
    background-color: rgb(255, 236, 250);
}
.codex-editor__redactor {
    padding-bottom: 5px !important;
    margin: 0 !important;
}
@media screen and (max-width: 1000px) {
    #Left {
        width: calc(100% - 40px);
        min-height: 0px;
        display: flex;
        justify-content: space-evenly;
    }
    #Left > a {
        display: inline-block;
    } 
    #Middle {
        width: calc(70% - 40px);
    }
    #Right {
        width: calc(30% - 40px);
    }
  }

  @media screen and (max-width: 750px) {
    #Left {
        width: calc(100% - 40px);
        display: block;
        order: 1;
    }
    #Left > a {
        display: block;
        text-align: center;
    } 
    #Middle {
        order: 3;
        width: calc(100% - 40px);
    }
    #Right {
        order: 2;
        width: calc(100% - 40px);
    }

  }
.edit-icon {
    height: 13px;
}
