#ArticleNameInput {
    max-width: 100%;
    width: 400px;
    font-size: 15px;
}
#ArticleNameErrorBox {
    color: red;
    font-weight: bold;
}
.codex-editor {
    padding: 0;
}
button {
    font-size: 15px;
}
