#ArticleNameInput {
    max-width: 100%;
    width: 400px;
    font-size: 15px;
}
#ArticleNameErrorBox {
    color: red;
    font-weight: bold;
}
.codex-editor {
    padding: 0;
}
button {
    font-size: 15px;
}
#Delete-Article-Button {
    margin-top: 20px;
    padding: 6px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    border-color: red;
}
button:hover {
    cursor: pointer;
}
#Delete-Article-Button:hover {
    background-color: rgb(255, 36, 36);
    border-color: rgb(255, 36, 36);
}
