body {
    margin: none;
    background-image: url(/img/paws-background.avif);
    background-size: 25%;
    min-height: 100vh;
    font-family: 'Fira Code', monospace;
    font-family: 'Lato', sans-serif;
}