#Middle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
}
#Middle > h1 {
width: 100%;
}
.user-box {
    width: 200px;
    padding: 20px;
    display: block;
}
.user-link {
    color: black;
    text-decoration: none;
    align-self: stretch;
    display: block;
}
.avatar-img {
    width: inherit;
}
.description {
    white-space: pre-wrap;
    text-indent: 0px;
}
.user-box:hover {
    background-color: rgba(255, 236, 250,0.6);
    cursor: pointer;
}
.nickname {
    text-align: center;
}
#Right > img {
    max-width: 100%;
}
